{% extends "_base.html" %}
{% block title %}By File - {{ super() }}{% endblock %}
{% block body %}
<h1>Pull Requests by File</h1>
{% if files %}
<ul>
	{% for filename, pulls in files|dictsort %}
	<li id="{{ filename }}"><strong>{{ filename }}</strong>&nbsp;<span>({{ pulls|length }})</span>
		<ul>
			{% for pull in pulls %}
			<li id="{{ pull.base.repo.full_name }}-{{ pull.number }}"><strong>{{ pull.base.repo.full_name }} #{{
					pull.number }}</strong>&nbsp;<a
					href="https://github.com/{{ pull.base.repo.full_name }}/pull/{{ pull.number }}">{{ pull.title
					}}</a>&nbsp;<span>(<a
						href="https://github.com/{{ pull.base.repo.full_name }}/pulls/{{ pull.user.login|default(pull.head.user.login) }}">{{
						pull.user.login|default(pull.head.user.login) }}</a>)</span></li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}