{% extends "_base.html" %}
{% block title %}By Multiple Authors - {{ super() }}{% endblock %}
{% block body %}
<h1>Pull Requests with Multiple Authors</h1>
{% if multi_authors %}
<ul>
	{% for user, pulls in multi_authors|dictsort %}
	<li id="{{ user }}"><strong><a href="https://github.com/{{ user }}">{{ user }}</a></strong>&nbsp;<span>({{
			pulls|length }})</span>
		<ul>
			{% for pull in pulls %}
			<li id="{{ pull.base.repo.full_name }}-{{ pull.number }}"><strong>{{ pull.base.repo.full_name }} #{{
					pull.number }}</strong>&nbsp;<a
					href="https://github.com/{{ pull.base.repo.full_name }}/pull/{{ pull.number }}">{{ pull.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}